<div id="bindContainer">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card-panel">
                <div class="row">
                    <form class="col s12">

                        <div class="row">
                            <div id="seach-field" class="input-field col s12">
                                <input type="text" name="userName" id="search-input" data-bind="value: $data.nick" />
                                <label for="search-input" class>User id</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s4">
                                <div class="input-field col s12">
                                    <button class="btn cyan waves-effect waves-light" type="button" data-bind="click: $data.getUserInfo">
                                        <i class="mdi-action-perm-identity"></i> Search
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8 l5">
            <div class="card medium"  data-bind="template: {name: 'model-template', foreach:
                     UserInfo}, visible: UserInfo().length">

            </div>
        </div>
    </div>
</div>
<script id="model-template" type="text/html">
    <div class="card-image ">
        <img data-bind="attr:{src: AvatarFullUri}" class="activator"/>
        <span class="card-title" data-bind="text: DisplayName"></span>
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4" data-bind="click: $parent.updateScrollBar">
            Recently played games
            <i class="mdi-navigation-more-vert right"></i>
        </span>
    </div>
    <div class="card-reveal" id="recent-games">
        <span class="card-title grey-text text-darken-4">
            <a data-bind="attr: {href: ProfileUri}" target="_blank">Profile url</a>
            <i class="mdi-navigation-close right"></i>
        </span>
        <div class="row">
            <div class="col s14 m14 14">
                <ul class="collection" data-bind="foreach: RecentlyPlayedGames">
                    <li class="collection-item">
                        <div class="row">
                            <div class="col s4">
                                <p class="collections-title grey-text text-darken-4" data-bind="text: Name"></p>
                                @*<ul data-bind="foreach: $parent.MatchHistory()[0].Matches()[0].Players">
                                    <li data-bind="text: '32' + '-' + AccountId()"></li>
                                    <li data-bind="text: '64' + '-' + AccountId64()"></li>
                                </ul>*@
                            </div>
                            <div class="col s6">
                                <img data-bind="attr: {src: ProgramLogoUrl}" style="max-width: 160px" />
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</script>