<div id="bindContainer">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card-panel">
                <div class="row">
                    <form class="col s12">

                        <div class="row">
                            <div id="seach-field" class="input-field col s12">
                                <input type="text" name="userName" id="search-input" data-bind="value: $data.nick"/>
                                <label for="search-input" class>User id</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s4">
                                <div class="input-field col s12">
                                    <button class="btn cyan waves-effect waves-light" type="button" data-bind="click: $data.getUserInfo">
                                        <i class="mdi-action-perm-identity" data-bind="visible:!$root.dataIsLoading()"></i> Search
                                        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate left" data-bind="visible:$root.dataIsLoading()"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8 l5">
            <div class="card medium" data-bind="template: {name: 'model-template', foreach:
                     UserInfo}, visible: UserInfo().length">

            </div>
        </div>

        <div class="col s12 m7 15" data-bind="visible: recentMatches().length">
            <div class="card" >
                <table class="centered">
                    <thead>
                    <tr>
                        <th>Hero</th>
                        <th>Result</th>
                        <th>Type</th>
                        <th>Duration</th>
                        <th>KDA</th>
                      
                    </tr>
                    </thead>
                    <tbody data-bind="template: {name: 'recent-matches-template', foreach: recentMatches}"></tbody>
                </table>
                <div id="charts" data-bind="foreach: recentMatches">
                    <div data-bind="kdachart: Kda" class="ct-chart ct-golden-section"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="recent-matches-template" type="text/html">
    <tr>
        <td>
            <a data-bind="attr:{href: 'http://www.dotabuff.com/matches/'+ Id()}, text: Hero.Name"></a>
        </td>
        <td data-bind="text: Mode"></td>
        <td>
            <div data-bind="if: Result() == 1">
                Loose
            </div>

            <div data-bind="if: Result() == 2">
                Win
            </div>
        </td>
        <td data-bind="text: Duration.Minutes() + ':' + Duration.Seconds()">

        </td>
        <td style="cursor: pointer">
            <div class="icon-container" data-bind="swalChart: Kda">
                <i class="mdi-editor-insert-chart"></i>
            </div>
        </td>
    </tr>
</script>
<script id="model-template" type="text/html">
    <div class="card-image ">
        <img data-bind="attr:{src: AvatarFullUri}" class="activator"/>
        <span class="card-title" data-bind="text: DisplayName"></span>
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4" data-bind="click: $parent.updateScrollBar">
            Recently played games
            <i class="mdi-navigation-more-vert right"></i>
        </span>
    </div>
    <div class="card-reveal" id="recent-games">
        <span class="card-title grey-text text-darken-4">
            <a data-bind="attr: {href: ProfileUri}" target="_blank">Profile url</a>
            <i class="mdi-navigation-close right"></i>
        </span>
        <div class="row">
            <div class="col s14 m14 14">
            </div>
        </div>

    </div>
</script>